{% set data = summary %}
<span class="text-gray-500">Income <span class="font-semibold text-green-700">{{ '{:,.0f}'.format(data.income) }} ₫</span></span>
<span class="text-gray-400 opacity-40 hidden sm:inline">|</span>
<span class="text-gray-500">Expense <span class="font-semibold text-red-600">{{ '{:,.0f}'.format(data.expense) }} ₫</span></span>
<span class="text-gray-400 opacity-40 hidden sm:inline">|</span>
<span class="text-gray-500">Savings <span class="font-semibold text-indigo-600">{{ '{:,.0f}'.format(data.savings) }} ₫</span></span>
<span class="text-gray-400 opacity-40 hidden sm:inline">|</span>
<span class="text-gray-500">Cash on Hand <span class="font-semibold text-blue-600">{{ '{:,.0f}'.format(data.cash_on_hand) }} ₫</span></span>
